
/*------------------------------------*\
  #Colors
\*------------------------------------*/

$white:  #ffffff;
$black:  #000000;

$gray-1: #f8f9fa;
$gray-2: #f1f1f1;
$gray-3: #7b7b84;
$gray-4: #cccccc;
$gray-5: #f5f5f5;

$blue:   #3366ff;