
/*------------------------------------*\
  #Colors
\*------------------------------------*/

$white:  #ffffff;
$black:  #000000;

$gray-1: #f8f9fa;
$gray-2: #f1f1f1;
$gray-3: #7b7b84;
$gray-4: #cccccc;
$gray-5: #f5f5f5;
$gray-6: #e6e6e6;

$blue-1: #3366ff;
$blue-2: #007bff;
$blue-3: #1976d2;

$red-1:  #dc004e;