
/*------------------------------------*\
  #Search input
\*------------------------------------*/

.search-input {
  min-width: 140px;
  max-width: 260px;
  margin-right:           20px;
  padding: 10px 20px 10px 40px;
  font-size: 16px;
  background: url('../../images/searchicon.png') 10px center no-repeat;
  border-radius: 5px;
  outline: none;
}