@import '../helpers';

/*------------------------------------*\
  #Sort button
\*------------------------------------*/

.btn-sort {
  padding: 7px 15px;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

  @include breakpoint (sm) {
    min-width: 150px;
    
    svg {
      margin-right: 10px;
    }
  }
}