
/*------------------------------------*\
  #404 page
\*------------------------------------*/

.page-not-found {
  position: absolute;
  top:  30%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}