@import '../helpers';





/*------------------------------------*\
  #Base tags
\*------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $gray-1;
}





/*------------------------------------*\
  #App
\*------------------------------------*/

.app {
  position: relative;
  max-width: 1240px;
  min-height: 100vh;
  margin:     0 auto;
  padding: 40px 30px;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 
              0 2px 6px 2px rgba(60,64,67,.15);
}





/*------------------------------------*\
  #Caption
\*------------------------------------*/

.main-caption {
  margin: 0 0 40px;
  font-size: 34px;
  text-align: center;
}





/*------------------------------------*\
  #Other
\*------------------------------------*/

.circle {
  border-radius: 50%;
}
